.app {
  /* min-height: 100vh;
  max-height: 500vh; */
  height: 100vh;
  display: flex;
  position: relative;
}

.active{
  color: red !important;
}

.pointer{
  cursor: pointer;
}

.ql-editor > *{
  font-size: medium !important;
  /* height: 300px !important; */
}

.login-height{
  height: 100vh;
}

.link{
  color: #1c0583;
  text-decoration: none;
  font-size: 12px;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
}