.app {
  height: 100vh;
  display: flex;
  position: relative;
}

.border-right{
  border-right: 1px solid #dee2e6!important
}

/* side nav bar */
.active{
  color: #25a0e2 !important;
}

.active :hover{
  color: #25a0e2 !important;
}

/* background color for  side nav bar*/
.pro-sidebar > .pro-sidebar-inner{
  background-color: #f6f8fa !important;
}

/* back ground color for inner child nav bar */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item{
  background-color: #f6f8fa !important;
}

/* background color for icon */
.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
  background-color: transparent !important;
}

/* font color */
.pro-sidebar{
  color: #616161 !important;
}
/* font  */
.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 16px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header{
  border: none;
}

/* side nav bar end here */

.pointer{
  cursor: pointer;
}

.ql-editor > *{
  font-size: medium !important;
}

.login-height{
  height: 100vh;
}

.link{
  color: #1c0583;
  text-decoration: none;
  font-size: 12px;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.bg-image {
  background-image: url("assets/doctor.png");
  background-color: #cccccc;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }

 .no-flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }

 /* .pro-sidebar > .pro-sidebar-inner{
  background-color: white !important;
 } */