.app {
  height: 100vh;
  display: flex;
  position: relative;
}

.font-sm {
  font-size: 0.8rem;
}

.border-right{
  border-right: 1px solid #dee2e6!important
}

.pointer{
  cursor: pointer;
}

.ql-editor > *{
  font-size: medium !important;
}

.login-height{
  height: 100vh;
}

.link{
  color: #1c0583;
  text-decoration: none;
  font-size: 12px;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.bg-image {
  background-image: url("assets/doctor.png");
  background-color: #cccccc;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }

 .no-flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }

 /* .pro-sidebar > .pro-sidebar-inner{
  background-color: white !important;
 } */