name: CI
on: push

env:
  VITE_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
  VITE_APP_IMG_URL: ${{ secrets.REACT_APP_IMG_URL }}
  VITE_APP_USER_POOL_ID: ${{ secrets.REACT_APP_USER_POOL_ID }}
  VITE_APP_CLIENT_ID: ${{ secrets.REACT_APP_CLIENT_ID }}
  VITE_APP_REGION: ${{ secrets.REACT_APP_REGION }}

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        run: npm install -g pnpm@9.1.1
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Linux and MacOS
          start: pnpm run dev
          wait-on: 'http://localhost:5173'
          # wait for 2 minutes for the server to respond
          wait-on-timeout: 120  
          record: true
          parallel: true
          command: npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set CI to false
        run: echo "CI=false" >> $GITHUB_ENV
      - name: installing node 
        uses: actions/setup-node@v4
        with: 
          node-version: '20'
      - name: Install pnpm
        run: npm install -g pnpm@9.1.1
      - name: Install dependencies
        run: pnpm install
      - name: Run unit tests and generate report
        run: pnpm run test
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-test-results
          path: test-results/junit.xml
        

  # lint:
  #     runs-on: ubuntu-latest
  #     strategy:
  #       matrix:
  #         node-version: [14.x]
  #     steps:
  #       - name: Checkout code
  #         uses: actions/checkout@v2
  #       - name: Set up Node.js ${{ matrix.node-version }}
  #         uses: actions/setup-node@v2
  #         with:
  #           node-version: ${{ matrix.node-version }}
  #       - name: Install dependencies
  #         run: npm ci
  #       - name: Run lint check
  #         run: npm run lint